<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title>GitHub - Dynamic API</title>
</head>

<body>
  <div class="header-wrapper">

    <ul class="nav-left">
      <li class="logo"><a href="http://github.com/"><img src="logos/github-logo.png"></a></li>

      <li class="search-bar">
        <form><input class="search-field" id="search-field" type="search" placeholder="Search GitHub"></form>
      </li>
    </ul>

    <ul class="nav-middle">
        <li class="links"><a href="https://github.com/explore/" id="explore">Explore</a></li>
        <li class="links"><a href="https://gist.github.com/" id="gist">Gist</a></li>
        <li class="links"><a href="https://github.com/blog/" id="blog">Blog</a></li>
        <li class="links"><a href="https://help.github.com/" id="help">Help</a></li>
    </ul>

    <ul class="nav-right">
        <li class="links"><a class="avatar-anchor" href="https://github.com/McLeanBH/"><img class="avatar" src="logos/avatar-logo.png">McLeanBH</a></li>

        <li class="links" title="Create New"><img src="logos/create-logo.png">
          <select class="dropdown">
            <option value="new-repo"><a href="https://github.com/new/"><img src="logos/new-repo-logo.png">New repository</a></option>
            <option value="new-org"><a href="https://github.com/organizations/new/"><img src="logos/new-org-logo.png">New organization</a></option>
          </select>
        </li>

        <li class="links" title="You have no unread notifications"><a href="https://github.com/notifications/"><img src="logos/nots-logo.png"></a></li>

        <li class="links" title="Settings"><a href="https://github.com/settings/profile/"><img src="logos/settings-logo.png"></a></li>

        <li class="links" title="Sign out"><a href="http://github.com/"><img src="logos/sign-out-logo.png"></a></li>
      </ul>

  </div>

  <div class="main-content-container">

    <div class="profile-info-container">
      <ul class="profile-info">
        <li class="profile-pic"><img src="logos/profile-photo.png"></li>
        <li class="name"><p>Ben McLean</p></li>
        <li class="user-name"><p>McLeanBH</p></li>
        <li class="location"><p><img src="logos/location-logo.png">Greenville, South Carolina, USA</p></li>
        <li><a class="email" href="mailto:mcleanbh@gmail.com"><p><img src="logos/email-logo.png">McLeanBH@Gmail.com</p></a></li>
        <li class="joined"><p><img src="logos/joined-logo.png">Joined on Nov, 7 2014</p></li>
      </ul>

    <div class="followers-and-orgs">

    </div>
  </div>

    <div class="secondary-main-container">

      <div class="secondary-main-container-tabs">
        <ul>
          <li class="tabs"><p id="contrib-tab"><img src="logos/contibs-logo.png">Contributions</p></li>

          <li class="tabs"><p id="repo-tab"><img src="logos/repo-logo.png">Repositories</p></li>

          <li class="tabs"><p id="activity-tab"><img src="logos/pa-logo.png">Public Activity</p></li>

          <li class="tabs">
            <button type="submit"><p id="edit-btn"><img src="logos/edit3.png">Edit profile</p></button>
          </li>
        </ul>
      </div>

        <ul class="repo-list"></ul>

      </div>
    </div>

    <div class="page-bottom-container"></div>

  <footer>  </footer>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/moment/moment.js"></script>

  <script type="text/template" data-template-name="repo-list">
      <div class="repo-container">
        <ul class="repo-left">
          <li id="name-and-url"><a href="<% html_url %>"><% name %></a></li>
          <li id="description"><a><% description %></a></li>
          <li id="updated"><a><% updated_at %></a></li>
        </ul>
        <ul class="repo-right">
          <li id="forks"><a href="<% forks_url %>" title="Forks"><% forks_count %></a></li>
          <li id="stargazers"><a href="<% stargazers_url %>" title="Stargazers"><% stargazers_count %></a></li>
          <li id="language"><a><% language %></a></li>
        </ul>
      </div>
  </script>
  <script src="scripts/main.js"></script>
  <script src="scripts/token.js"></script>


</body>
</html>
