<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <title>GitHub - Dynamic API</title>
</head>

<body>
  <div class="header-wrapper">

    <ul class="nav-left">
      <li class="logo"><img src="logos/github-logo.png"></li>

      <li class="search-bar">
        <form><input class="search-field" id="search-field" type="search" placeholder="Search GitHub"></form>
      </li>
    </ul>

    <ul class="nav-middle">
        <li class="links"><a href="https://github.com/explore/">Explore</a></li>
        <li class="links"><a href="https://gist.github.com/">Gist</a></li>
        <li class="links"><a href="https://github.com/blog/">Blog</a></li>
        <li class="links"><a href="https://help.github.com/">Help</a></li>
    </ul>

    <ul class="nav-right">
        <li class="links"><a href="https://github.com/McLeanBH/"><img class="avatar" src="logos/avatar-logo.png">McLeanBH</a></li>

        <li class="links" title="Create New"><img src="logos/create-logo.png">
          <select class="dropdown">
            <option value="new-repo"><a href="https://github.com/new/"><img src="logos/new-repo-logo.png">New repository</a></option>
            <option value="new-org"><a href="https://github.com/organizations/new/"><img src="logos/new-org-logo.png">New organization</a></option>
          </select>
        </li>

        <li class="links" title="You have no unread notifications"><a href="https://github.com/notifications/"><img src="logos/nots-logo.png"></a></li>

        <li class="links" title="Settings"><a href="https://github.com/settings/profile/"><img src="logos/settings-logo.png"></a></li>

        <li class="links" title="Sign out"><a href="http://github.com/"><img src="logos/sign-out-logo.png"></a></li>
      </ul>

  </div>

  <div class="main-content-container">

    <div class="profile-info-container">
      <ul class="profile-info">
        <li class="profile-pic"><img src="logos/profile-photo.png"></li>
        <li class="name"><p>Ben McLean</p></li>
        <li class="user-name"><p>McLeanBH</p></li>
        <li class="location"><p><img src="logos/location-logo.png">Greenville, South Carolina, USA</p></li>
        <li><a class="email" href="mailto:mcleanbh@gmail.com"><p><img src="logos/email-logo.png">McLeanBH@Gmail.com</p></a></li>
        <li class="joined"><p><img src="logos/joined-logo.png">Joined on Nov, 7 2014</p></li>
      </ul>

    <div class="followers-and-orgs">
      <h2></h2>
    </div>
  </div>

    <div class="secondary-main-container">

      <div class="secondary-main-container-tabs">
        <ul>
          <li class="tabs"><p class="contribs"><img src="logos/contibs-logo.png">Contributions</p></li>

          <li class="tabs"><p class="repos"><img src="logos/repo-logo.png">Repositories</p></li>

          <li class="tabs"><p class="activity"><img src="logos/pa-logo.png">Public Activity</p></li>

          <li class="tabs">
            <button type="submit"><p class="edit"><img src="logos/edit3.png">Edit profile</p></button>
          </li>
        </ul>
      </div>

      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/underscore/underscore.js"></script>

      <ol class="repo-list"></ol>


        <script type="text/template" data-template-name="repo-list">
            <div class="repo-container">

              <div class="repo-left">
                <div class="repo-name"><a href="#"><p><% name %></p></a></div>
              </div>

              <div class="repo-right">
                <div class="repo-list-stats"><p><% language %> <% starred %> <% forks %></p></div>
              </div>

            </div>
        </script>



  </div>
</div>

  <footer></footer>


  <script type="text/javascript" src="repo_data.js"></script>
  <script type="text/javascript" src="starred_data.js"></script>
  <script type="text/javascript" src="token.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
