html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

.header-wrapper {
  background-color: #f5f5f5;
  min-width: 1000px;
  vertical-align: middle; }
  .header-wrapper ul {
    display: inline-block;
    list-style: none; }
  .header-wrapper img {
    height: 50px;
    vertical-align: middle; }

.nav-left .logo,
.nav-left .search-bar,
.nav-middle .links,
.nav-right .links {
  display: inline-block;
  vertical-align: middle; }

.nav-right .avatar-anchor {
  text-decoration: none;
  padding-left: 5px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  text-overflow: ellipsis; }
  .nav-right .avatar-anchor .avatar {
    width: 20px;
    height: 20px; }

.nav-middle a {
  text-decoration: none;
  color: #333;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold; }

.nav-middle a:hover {
  color: #4484c2; }

.search-field {
  width: 360px; }

.main-content-container {
  margin: 0 auto;
  padding-left: 20px;
  width: 1080px;
  color: #333; }
  .main-content-container ul {
    display: block;
    list-style: none; }
  .main-content-container img {
    height: 16px; }

.user-name {
  margin-bottom: 15px;
  color: #666;
  font-weight: 300;
  line-height: 24px;
  overflow: ellipsis;
  border-bottom: 1px solid #eee; }

.profile-info-container p {
  margin: 0 auto; }

.profile-info-container {
  display: inline-block;
  width: 300px;
  float: left; }

.name {
  margin-top: 5px;
  font-size: 26px;
  line-height: 30px;
  overflow: ellipsis; }

.location,
.email,
.joined {
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  padding-bottom: 5px; }

.email {
  color: #333;
  text-decoration: none; }

.profile-pic img {
  width: 230px;
  height: 230px;
  border-radius: 6px;
  vertical-align: middle; }

.profile-info p img {
  height: 20px; }

.followers-and-orgs {
  height: 350px; }

.secondary-main-container {
  display: inline-block;
  width: 650px; }

.secondary-main-container-tabs p .conribs {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.secondary-main-tabs {
  display: inline-block; }
  .secondary-main-tabs ul {
    display: inline-block; }
  .secondary-main-tabs li {
    display: inline-block; }

.tabs {
  display: inline-block; }
  .tabs p {
    margin: 0 auto; }

#contrib-tab,
#repo-tab,
#activity-tab {
  padding-right: 20px; }

button {
  background-color: #f4f4f4;
  height: 28px;
  width: 108px;
  border: 1px solid #eee; }
  button button p:hover {
    background-color: #e7e7e7; }

.repo-list {
  padding: 0; }

.repo-name {
  display: inline-block;
  text-decoration: none;
  font-size: 20px; }
  .repo-name a {
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #4484c2;
    font-size: 20px;
    font-weight: bold; }

.repo-container {
  margin-right: 70px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 140px;
  vertical-align: middle;
  width: 800px; }

.repo-right {
  display: inline-block;
  width: 70px; }

.repo-left {
  display: inline-block;
  width: 550px; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
